go 1.26.0

toolchain go1.26.8

use (
	./libs/contracts
	./libs/platform
	./services/auth
	./services/bff
	./services/catalog
	./services/history
	./services/library
	./services/playback
	./services/playlist
	./services/search
	./services/stream-auth
	./services/user-profile
	./workers/search-indexer
)
